/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background: #f5f7f9;
    font-size: 100%;
    color: #3C4257;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    box-sizing: border-box;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a {
    color: #288CF5;
}

a:visited {
    color: #288CF5;
}

input[type=text], input[type=password] {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    cursor: text;
    border: none;
    border-radius: 4px;
    margin: 0;
    outline: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    padding-left: 0.5em;
    color: #3C4257;
}

/* simple button style (white) for default */
.btn {
    padding: 0.4em 0.8em 0.5em 1em;
    border: 1px solid #288CF5;
    background: linear-gradient(#FFF, #F1F2F3);
    border-radius: 4px;
    color: #288CF5;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

/*a {color:#FF0000;} */        /* Unvisited link  */
/*a:visited {color:#00FF00;} */ /* Visited link    */
/*a:hover {color:#FF00FF;} */  /* Mouse over link */
/*a:active {color:#0000FF;} */ /* Selected link   */
